@font-face {
    font-family: "Bebas Neue Regular";
    src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Lobster Regular";
    src: url(../Fonts/Lobster-1.4.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$lightGray: #e3e3e3;
$gray: #a1a1a1;
$mainBackColor: #3cbfb3;
$buttonAndLogoColor: #3cc395;
$footerColor: #2da89b;
$textColor: #ffffff;

$LogoFont: "Lobster Regular", sans-serif;
$titleFont: "Bebas Neue Regular", sans-serif;
$mainFont: 'Open Sans', sans-serif;