@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: "Bebas Neue Regular";
  src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Lobster Regular";
  src: url(../Fonts/Lobster-1.4.ttf);
}

.b-header {
  min-height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .b-header_padding {
    padding: 0 150px;
  }
}

.b-logo {
  font-family: "Lobster Regular", sans-serif;
  color: #3cc395;
  font-size: 49px;
}

.b-siteSearch {
  width: 438px;
}

@media (max-width: 575.98px) {
  .b-siteSearch_widthSm {
    width: 100%;
  }
}

.b-siteSearch__field {
  width: 100%;
  outline: none;
  border: 1px solid #e3e3e3;
  background: url(../images/loupe.png) no-repeat 98% center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 35px;
}

.b-basket {
  background: url(../images/basket.png) no-repeat left;
  height: 37px;
  padding-left: 50px;
  font-size: 33px;
  font-family: "Bebas Neue Regular", sans-serif;
  color: #a1a1a1;
  line-height: 37px;
}

@media (max-width: 767.98px) {
  .b-basket_topMargin {
    margin-top: 10px;
  }
}

.b-nav {
  color: #ffffff;
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 21px;
  background: #4ccfc1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .b-nav_padding {
    padding: 0 150px;
  }
}

@media (max-width: 767.98px) {
  .b-nav_marginTop {
    margin-top: 10px;
  }
}

.b-nav__link {
  color: #ffffff;
}

.b-nav__link:hover {
  text-decoration: none;
  color: #e3e3e3;
}

.b-slider {
  background: #3cbfb3;
  min-height: 445px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .b-slider {
    display: block;
  }
}

@media (max-width: 1199.98px) {
  .b-slider {
    padding: 50px;
  }
}

@media (max-width: 991.98px) {
  .b-slider {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr 50px;
        grid-template-rows: 1fr 1fr 50px;
  }
}

.b-slider__img {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

@media (max-width: 575.98px) {
  .b-slider__img {
    width: 100%;
  }
}

.carousel-indicators li {
  border-radius: 100%;
  width: 9px;
  height: 9px;
}

.b-sliderAboutProduct {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
}

@media (max-width: 991.98px) {
  .b-sliderAboutProduct {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}

.b-sliderAboutProduct__title {
  font-family: "Bebas Neue Regular", sans-serif;
  font-size: 61px;
  color: #ffffff;
  line-height: 0.885;
}

@media (max-width: 991.98px) {
  .b-sliderAboutProduct__title_tablets {
    text-align: center;
  }
}

.b-sliderAboutProduct__desc {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  line-height: 1.647;
}

@media (max-width: 991.98px) {
  .b-sliderAboutProduct__desc_tablets {
    text-align: center;
  }
}

.b-sliderAboutProduct__desc_margin {
  margin: 30px 0;
}

.b-sliderAboutProduct__btn {
  background: transparent;
  border: 3px solid white;
  border-radius: 5px;
  color: #ffffff;
  font-size: 27px;
  font-family: "Bebas Neue Regular", sans-serif;
  line-height: 0.704;
  width: 137px;
  height: 44px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (max-width: 991.98px) {
  .b-sliderAboutProduct__btn_tablets {
    display: block;
    margin: 0 auto;
  }
}

.b-sliderAboutProduct__btn:hover {
  color: #a1a1a1;
  border: 3px solid #a1a1a1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}
/*# sourceMappingURL=style.css.map */