body {
  margin: 0;
  position: relative;
}
.navbar.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background: #ffffff;
}
.navbar.navbar-default .navbar-brand {
  position: relative;
  bottom: 2px;
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.callBackFormWrap {
  height: 270px;
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 15%;
  top: 30%;
  border-radius: 5px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .callBackFormWrap {
    top: 25%;
  }
}
.callBackFormWrap form {
  padding: 30px;
}
.callBackFormWrap label {
  color: #ffffff;
  font-weight: 400;
}
.callBackFormWrap label,
.callBackFormWrap input {
  display: block;
  width: 100%;
}
.callBackFormWrap input[type="text"] {
  margin-bottom: 20px;
  outline: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  border-bottom: 1px solid #ffffff;
}
.callBackFormWrap input[type="text"]:focus {
  border-bottom: 1px solid #8aff84;
}
.callBackFormWrap input[type="submit"] {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: none;
  padding: 20px;
}
.mobileFormWrap {
  height: 200px;
  background: #f5f5f5;
  clear: both;
}
@media (min-width: 0) and (max-width: 479px) {
  .mobileFormWrap {
    height: 300px;
  }
}
.mobileFormWrap .mobileFormInsideWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileFormWrap .mobileFormInsideWrap form > div {
  float: left;
  height: 80px;
  margin: 0 5px;
}
@media (min-width: 0) and (max-width: 479px) {
  .mobileFormWrap .mobileFormInsideWrap form > div {
    float: none;
    height: auto;
  }
}
.mobileFormWrap .mobileFormInsideWrap label {
  color: #8a8a8a;
  font-size: 2rem;
}
.mobileFormWrap .mobileFormInsideWrap input[type="text"] {
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  background: none;
}
.mobileFormWrap .mobileFormInsideWrap input[type="text"]:focus {
  border-bottom: 2px solid #8aff84;
  outline: none;
}
.mobileFormWrap .mobileFormInsideWrap input[type="submit"] {
  color: #8a8a8a;
  border: 2px solid #e2e2e2;
  background: none;
  padding: 17px;
}
