body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.mainWrap {
  margin: auto;
  width: 1280px;
  height: 1000px;
}
header {
  box-sizing: border-box;
  position: relative;
  padding: 50px;
  height: 323px;
  background-color: #445161;
  color: #ffffff;
}
header h1 {
  margin-bottom: 25px;
  margin-top: -12px;
  font-weight: 400;
  font-size: 60px;
}
header ul {
  padding-left: 30px;
  font-size: 20px;
  line-height: 36px;
}
header ul li {
  list-style-image: url(../images/check_icon.png);
}
header img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 469px;
  height: 214px;
}
section {
  padding: 50px;
}
.aboutProduct {
  padding-bottom: 67px;
  position: relative;
}
.aboutProduct h2 {
  text-align: left;
}
.aboutProduct p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.aboutProduct img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 430px;
  height: 245px;
}
.headline {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #445161;
  margin-top: -10px;
  text-align: center;
}
.plus {
  background: #f5f5f5;
  padding-bottom: 23px;
}
.plus:after {
  content: '';
  clear: both;
  display: block;
}
.plus ul {
  list-style: none;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}
.plus ul li {
  margin-bottom: 27px;
}
.plus .leftColumn {
  float: left;
  margin: 0;
  background: url(../images/cross.jpg) no-repeat 0 6px, url(../images/cross.jpg) no-repeat 0 104px, url(../images/cross.jpg) no-repeat 0 204px;
}
.plus .rightColumn {
  float: right;
  margin: 0;
  background: url(../images/cross.jpg) no-repeat 0 6px, url(../images/cross.jpg) no-repeat 0 104px, url(../images/cross.jpg) no-repeat 0 204px;
  padding-right: 22px;
}
.description {
  float: left;
  width: 50%;
  margin-bottom: 4px;
}
.scrinshot {
  padding-bottom: 56px;
}
.scrinshot:after {
  content: '';
  clear: both;
  display: block;
}
.scrinshot img {
  float: left;
  padding-right: 16px;
}
.scrinshot h3 {
  color: #445161;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  font-weight: 400;
}
.scrinshot p {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
}
.review {
  background: #f5f5f5;
}
.review:after {
  content: '';
  clear: both;
  display: block;
}
.review .description {
  margin-bottom: 32px;
  background-image: url(../images/bg_review.svg);
  background-repeat: no-repeat;
  background-position: 89px 0;
}
.review img {
  border-radius: 50%;
  float: left;
}
.review p {
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  padding-left: 120px;
  margin-bottom: 8px;
}
.review .offset {
  padding-left: 17px;
  box-sizing: border-box;
  background-position: 106px 0;
}
.review .signature {
  color: #989898;
  font-size: 14px;
  line-height: 18px;
  padding-left: 120px;
}
