body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}
.navbar.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  background: #ffffff;
}
.navbar.navbar-default .navbar-brand {
  position: relative;
  bottom: 2px;
}
header {
  padding: 50px;
  min-height: 323px;
  background-color: #445161;
  color: #ffffff;
}
header:after {
  content: '';
  clear: both;
  display: block;
}
header h1 {
  margin-bottom: 25px;
  margin-top: -12px;
  font-weight: 400;
  font-size: 6rem;
}
header ul {
  padding-left: 30px;
  font-size: 2rem;
  line-height: 3.6rem;
}
header ul li {
  list-style-image: url(../images/check_icon.png);
}
header img {
  width: 100%;
}
@media (min-width: 0) and (max-width: 992px) {
  header img {
    margin-top: 50px;
  }
}
section {
  padding: 50px;
}
.aboutProduct {
  padding-bottom: 67px;
}
.aboutProduct:after {
  content: '';
  clear: both;
  display: block;
}
.aboutProduct h2 {
  text-align: left;
}
.aboutProduct p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
  text-align: justify;
}
.aboutProduct img {
  width: 430px;
  float: right;
}
@media (min-width: 0) and (max-width: 1199px) {
  .aboutProduct img {
    width: 100%;
  }
}
.headline {
  font-size: 3rem;
  line-height: 3.6rem;
  color: #445161;
  padding-top: 50px;
  text-align: center;
  background: #f5f5f5;
}
._transparent {
  background: none;
}
.plus {
  background: #f5f5f5;
}
.plus:after {
  content: '';
  clear: both;
  display: block;
}
.plus ul {
  list-style: none;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding-left: 0;
}
.plus ul li {
  padding-left: 40px;
  margin-bottom: 27px;
  text-align: justify;
  background: url(../images/cross.jpg) no-repeat 0 6px;
}
.screenshot {
  padding-bottom: 56px;
}
.screenshot:after {
  content: '';
  clear: both;
  display: block;
}
.screenshot img {
  float: left;
  padding-right: 16px;
}
@media (min-width: 0) and (max-width: 1199px) {
  .screenshot img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.screenshot h3 {
  color: #445161;
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 0;
  font-weight: 400;
}
@media (min-width: 0) and (max-width: 1199px) {
  .screenshot h3 {
    text-align: center;
  }
}
.screenshot p {
  color: #333333;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 7px;
  text-align: justify;
}
.review {
  background: #f5f5f5;
}
.review:after {
  content: '';
  clear: both;
  display: block;
}
.review .descriptionReview {
  margin-bottom: 32px;
}
.review .descriptionReview:after {
  content: '';
  clear: both;
  display: block;
}
.review .descriptionReview .reviewBackground {
  position: relative;
  float: right;
  width: 81%;
  background: #ebebeb;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
}
.review .descriptionReview .reviewBackground::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 27px;
  background: #ebebeb;
  transform: rotate(45deg);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .review .descriptionReview .reviewBackground {
    width: 75%;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  .review .descriptionReview .reviewBackground {
    width: 100%;
  }
}
.review img {
  border-radius: 50%;
  float: left;
}
@media (min-width: 0) and (max-width: 767px) {
  .review img {
    float: none;
    display: block;
    margin: 0 auto 32px;
  }
}
.review p {
  color: #333333;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-style: italic;
  text-align: justify;
  margin-bottom: 8px;
}
.review .signature {
  color: #989898;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.flexWrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
@media (min-width: 0) and (max-width: 991px) {
  .flexWrap {
    display: block;
  }
}
.flexWrap article {
  background-color: #445161;
  border-radius: 5px;
}
.flexWrap article .headlineBuy {
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.flexWrap article ol {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
@media (min-width: 0) and (max-width: 767px) {
  .flexWrap article ol li {
    margin: 15px auto;
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .flexWrap article ol {
    margin: 15px auto;
    width: 50%;
  }
}
.flexWrap article button {
  width: 260px;
  height: 40px;
  background-color: #ffffff;
  margin-left: 20px;
  color: #445161;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .flexWrap article button {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 15px;
  }
}
@media (min-width: 0) and (max-width: 991px) {
  .flexWrap article button {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 15px;
  }
}
.flexWrap .price {
  height: 71px;
  border: 2px solid #445162;
  background: #ffffff;
  color: #445162;
  font-size: 4rem;
  line-height: 7.1rem;
  text-align: center;
}
.flexWrap .standart {
  width: 300px;
  height: 306px;
  padding: 0;
}
.flexWrap .standart:after {
  content: '';
  clear: both;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .flexWrap .standart {
    width: calc(30.33333333%);
    height: inherit;
  }
}
@media (min-width: 0) and (max-width: 991px) {
  .flexWrap .standart {
    width: 100%;
    margin-bottom: 50px;
    height: inherit;
    padding-bottom: 15px;
  }
}
.flexWrap .premium {
  width: 300px;
  height: 404px;
  padding: 0;
}
.flexWrap .premium:after {
  content: '';
  clear: both;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .flexWrap .premium {
    width: calc(30.33333333%);
    height: inherit;
  }
}
@media (min-width: 0) and (max-width: 991px) {
  .flexWrap .premium {
    width: 100%;
    margin-bottom: 50px;
    height: inherit;
    padding-bottom: 15px;
  }
}
.flexWrap .lux {
  width: 300px;
  height: 499px;
  padding: 0;
}
.flexWrap .lux:after {
  content: '';
  clear: both;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .flexWrap .lux {
    width: calc(30.33333333%);
    height: inherit;
  }
}
@media (min-width: 0) and (max-width: 991px) {
  .flexWrap .lux {
    width: 100%;
    margin-bottom: 50px;
    height: inherit;
    padding-bottom: 15px;
  }
}
