.b-featuredProducts {
    background: $mainBackColor;
    font-size: 31px;
    font-family: $titleFont;
    color: $textColor;
    line-height: 0.806; 
    text-transform: uppercase;
    padding: 25px 186px;
}