.b-nav {
    color: $textColor;
    font-family: $titleFont;
    font-size: 21px;
    background: $buttonAndLogoColor;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   

    &_padding {

        @media (min-width: 1200px) {
            padding: 0 150px;            
        }
    }

    &__link {
        color: $textColor;

        &:hover {
            text-decoration: none;
            color: $lightGray;
        }
    }
}