.b-siteSearch {  
  width: 438px;

  &_widthSm {

    @media (max-width: 575.98px) {
      width: 100%;
    }
  }
  
  &__field {
    width: 100%;
    outline: none;
    border: 1px solid $lightGray;
    background: url(../images/loupe.png) no-repeat 98% center;
    padding: 0 10px;
    box-sizing: border-box;
    height: 35px; 
  }
}