.b-sliderAboutProduct {
    grid-column-start: 4;
    grid-column-end: 6;

    @media (max-width: 991.98px) {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    &__title {
        font-family: $titleFont;
        font-size: 61px;
        color: $textColor;
        line-height: 0.885; 
        
        @media (max-width: 575.98px) {
            height: 106px;
        }

        @media (min-width: 576px) and (max-width: 991.98px) {
            height: 160px;
        }

        &_tablets {
            
                    @media (max-width: 991.98px) {
                        text-align: center;      
                    }
        }
    }

    &__desc {
        font-size: 17px;
        font-family: $mainFont;
        color: $textColor;
        line-height: 1.647; 
        
        @media (max-width: 575.98px) {
            height: 81px;
        }

        @media (min-width: 576px) and (max-width: 991.98px) {
            height: 135px;
        }        

        &_tablets {
            
                    @media (max-width: 991.98px) {
                        text-align: center;      
                    }
        }

        &_margin {
            margin: 30px 0;
        }
    }

    &__btn {
        background: transparent;
        border: 3px solid white;
        border-radius: 5px;
        color: $textColor;
        font-size: 27px;
        font-family: $titleFont;
        line-height: 0.704;        
        width: 137px;
        height: 44px;
        transition-duration: 0.5s;

        &_tablets {
            
                    @media (max-width: 991.98px) {
                        display: block;
                        margin: 0 auto;    
                    }     
        }

        &:hover {
            color: $gray;
            border: 3px solid $gray;
        }
    }
}