@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/Nexa\ Bold.otf);
}
body {
  margin: 0;
}
.header-inside {
  width: 1200px;
  margin: 0 auto;
}
.header-inside .logo-and-contact {
  display: grid;
  grid-template-columns: 398px 344px 267px 190px;
  padding: 35px 0;
  grid-auto-rows: 51px;
  color: #6a6a6a;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.header-inside .logo-and-contact .top-line {
  font-weight: 700;
}
.header-inside .logo-and-contact .work-time {
  padding-left: 70px;
  background: url(../images/clock.png) no-repeat left;
}
.header-inside .logo-and-contact .mail {
  padding-left: 70px;
  background: url(../images/mail.png) no-repeat left;
}
.header-inside .logo-and-contact .phone {
  padding-left: 70px;
  background: url(../images/phone.png) no-repeat left;
}
.header-inside .nav-and-social {
  height: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #c2c2c2;
  margin: 0 10px;
  padding: 30px 0;
}
.header-inside .nav-and-social a {
  text-decoration: none;
}
.header-inside .nav-and-social .main-nav {
  display: flex;
  justify-content: space-between;
}
.header-inside .nav-and-social .main-nav a {
  color: #6c6c6c;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
}
.header-inside .nav-and-social .main-nav a:hover {
  color: #262626;
}
.header-inside .nav-and-social .social {
  justify-self: end;
  align-self: end;
}
.header-inside .nav-and-social .social a {
  color: #191919;
  font-size: 23px;
  letter-spacing: 23px;
}
.sd {
  height: 100px;
  background: red;
}
