@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/Nexa\ Bold.otf);
}

body {
    margin: 0;
}

.header-inside {
    width: 1200px;
    margin: 0 auto;

    .logo-and-contact {
        display: grid;
        grid-template-columns: 398px 344px 267px 190px;
        padding: 35px 0;
        grid-auto-rows: 51px;
        color: #6a6a6a;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;

        .top-line {
            font-weight: 700;
        }

        .work-time {
            padding-left: 70px;
            background: url(../images/clock.png) no-repeat left;
        }

        .mail {
            padding-left: 70px;
            background: url(../images/mail.png) no-repeat left;
        }

        .phone {
            padding-left: 70px;
            background: url(../images/phone.png) no-repeat left;
        }
    }

    .nav-and-social {
        height: 36px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 2px solid #c2c2c2;
        margin: 0 10px;
        padding: 30px 0;

        a {
            text-decoration: none;
        }

        .main-nav {
            display: flex;
            justify-content: space-between;

            a {
                color: #6c6c6c;
                font-family: "Nexa Bold", sans-serif;
                font-size: 20px;                

                &:hover {
                    color: #262626;
                }
            }
            
        }

        .social {
            justify-self: end;
            align-self: end;

            a {
                color: #191919;
                font-size: 23px;
                letter-spacing: 23px;
            }
        }
    }
}

.sd {
    height: 100px;
    background: red;
}