@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/Nexa\ Bold.otf);
}

body {
    margin: 0;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.is-button {
    display: block;
    width: 166px;
    height: 47px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    text-decoration: none;
    line-height: 47px;
    text-align: center;
    border-radius: 25px;
    margin: 42px auto 0;

    &:hover {
        background-color: #37c3a8;
    }
}

.header-inside {
    width: 1200px;
    margin: 0 auto;

    .logo-and-contact {
        display: grid;
        grid-template-columns: 398px 344px 267px 190px;
        padding: 35px 0;
        grid-auto-rows: 51px;
        color: #6a6a6a;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;

        .top-line {
            font-weight: 700;
        }

        .work-time {
            padding-left: 70px;
            background: url(../images/clock.png) no-repeat left;
        }

        .mail {
            padding-left: 70px;
            background: url(../images/mail.png) no-repeat left;
        }

        .phone {
            padding-left: 70px;
            background: url(../images/phone.png) no-repeat left;
        }
    }

    .nav-and-social {
        height: 36px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 2px solid #c2c2c2;
        margin: 0 10px;
        padding: 30px 0;

        a {
            text-decoration: none;
        }

        .main-nav {
            display: flex;
            justify-content: space-between;

            a {
                color: #6c6c6c;
                font-family: "Nexa Bold", sans-serif;
                font-size: 20px;

                &:hover {
                    color: #262626;
                }
            }

        }

        .social {
            justify-self: end;
            align-self: end;

            a {
                color: #191919;
                font-size: 23px;
                letter-spacing: 23px;

                &:hover {
                    color: #6c6c6c; 
                }
            }
        }
    }
}

.medicare-plan-options {
    position: relative;
    height: 640px;
    background: url(../images/Layer_10_doctor.jpg);
    
    .medicare-plan-options-wrap {
        top: 180px;
        left: 250px;
        width: 550px;
        position: absolute;

        .medicare-plan-options_title {
            height: 104px;
            color: #474747;
            font-family: 'Montserrat', sans-serif;
            font-size: 48px;
            letter-spacing: -1.19px;
            text-align: center;
            margin-bottom: 37px;
        }

        .medicare-plan-options_main {
            color: #3f3f3f;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            line-height: 30px;
            text-align: center;
        }        
    }

    img {
        width: 125px;
        position: absolute;
        top: 538px;
        left: 819px;
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 360px;

    .benefits-unit {
        box-sizing: border-box;
        padding: 75px 62px 57px;
        text-align: center;

        &:nth-child(1){
            background-color: #43b1d2;            
        }
    
        &:nth-child(2){
            background-color: #3fb6c6;
        }
    
        &:nth-child(3){
            background-color: #3cbbbb;
        }
    
        &:nth-child(4){
            background-color: #37c3a8;
        }

    }

    .benefits-description-wrap {
        color: #ffffff;

        .benefits-title {
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: -1.82px;
            margin: 24px 0 23px;
        }

        .benefits-main {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            line-height: 30px;
        }
    }

}

.why-choose-us {
    padding: 0 210px; 

    .why-choose-us-title {
        color: #494949;
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin: 110px 0 30px;
    }

    .why-choose-us-main {
        color: #6a6a6a;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 25px;
    }

    .why-choose-us-wrap {
        display: grid;
        grid-template-columns: 1fr 337px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 57px;

        .why-choose-us-unit {
            margin-top: 95px;
            position: relative;

            img {
                position: absolute;
                top: -20px;
            }

            .unit-title {
                color: #6f6f6e;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -1.82px;
                text-align: center;
                margin-bottom: 43px;
            }

            .unit-main {
                color: #6a6a6a;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                line-height: 30px;
            }
        }

        .woman-doctor {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: end;
        }
    }
}

.statistics {
    height: 595px;
    background: url(../images/Layer_9.png);
    background-color: #0087be;
    background-blend-mode: multiply;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 250px;

    .statistics-unit {
        align-self: center;
        text-align: center;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;


        img {
            height: 80px;
        }

        .statistics-figures {
            font-size: 60px;
            letter-spacing: -1.19px;
        }

        .statistics-line {
            margin: 26px auto;
            height: 6px;
            width: 84px;
            background-color: #ffffff;
        }

        .statistics-value {
            font-size: 25px;
            letter-spacing: -1.52px;
        }
    }

}

.work {
    padding-top: 100px;
    height: 895px;
    display: grid;
    grid-template-columns: 715px 425px;
    grid-gap: 55px;
    justify-content: center;
    align-content: baseline;
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;

    .work-title {
        color: #494949;
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 38px;
    }

    .how-we-work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 40px;

        .how-we-work-description {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .work-signature {
            margin-top: 35px;
            color: #6f6f6e;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -1.21px;
        }

        .work-date-and-author {
            margin-bottom: 25px;
            color: #0087be;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: -0.38px;
        }

        .is-button {
            grid-column-start: 1;
            grid-column-end: 3;             
        }

        .is-resize {
            width: 154px;
            height: 43px;
            font-size: 17px;
        }
    }

    .our-creative {

        a {
            text-decoration: none;
        }

        .is-margin {
            margin-bottom: 50px;
        }

        .heart-treatment {
            width: 422px;
            height: 54px;
            background-color: #e2e2e2;
            border-radius: 30px;
            margin: 6px 0;
            display: grid;
            grid-template-columns: 40px 1fr;
            align-items: center;
            grid-gap: 20px;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            padding: 0 6px;

            &:hover {
                background-color: #0087be; 
            }

            .circle {
                width: 40px;
                height: 40px;
                background: #ffffff;
                text-align: center;
                font-size: 10px;
                color: #0087be;
                line-height: 40px;
                border-radius: 50%;
            }
        }
    }
}

.gallery {
    height: 825px;
    background: url(../images/Layer_3.jpg);
    background-color: #38b69e;
    background-blend-mode: color-burn;
    color: #ffffff;
    padding: 94px 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    box-sizing: border-box;

    .gallery-description {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;

        .gallery-title {
            font-family: 'Montserrat', sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 38px;
        }
    }
}

.our-team {
    box-sizing: border-box;
    height: 920px;
    text-align: center;
    padding: 145px 185px;

    .our-team-description {
        color: #6a6a6a;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 85px; 

        .our-team-title {
            color: #494949;
            font-family: 'Montserrat', sans-serif;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 50px;
        }
    }

    .our-team-unit-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        .our-team-unit {
            color: #6f6f6e;
            font-family: 'Montserrat', sans-serif;

            .doctor-name {
                font-size: 25px;
                font-weight: 500;
                margin: 30px 0 15px;
            }

            .doctor-function {                
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -1.09px;
                margin-bottom: 30px;
            }

            a {
                text-decoration: none;
                color: #0087be;
                font-size: 25px;
                letter-spacing: 12.8px;
            }
        }
    }
}

.new-patient {
    height: 175px;
    background-color: #e2e2e2;
    display: grid;
    grid-template-columns: 925px 1fr;
    align-items: center;
    padding-left: 270px;
    padding-right: 230px;

    .new-patient-text {
        color: #494949;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
    }

    .is-button {
        justify-content: right;
        margin: 0;
    }

    .is-resize {
        width: 192px;
        height: 54px;
        font-size: 21px;
    }
}

footer {
    background-color: #171717;
    height: 630px;
    padding: 115px 225px;
    box-sizing: border-box;

    .footer-inside {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 80px;
        font-family: "Open Sans", sans-serif;
    
        a .fas {
            margin-right: 20px;
            color: #0087be;
            font-size: 16px;
        }

        .get-in-touch {
            color: #7f7f7f;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.4px;
            
            div {

                &:nth-child(2) {
                    background: url(../images/footer_mail.png) no-repeat left;
                    padding-left: 83px;
                    margin-bottom: 50px;
                }

                &:nth-child(3) {
                    background: url(../images/footer_phone.png) no-repeat left;
                    padding-left: 83px;
                    margin-bottom: 50px;
                }

                &:nth-child(4) {
                    background: url(../images/footer_geo.png) no-repeat left;
                    padding-left: 83px;
                    margin-bottom: 50px;
                } 
            }

            .footer-social {                
                font-size: 25px;
                letter-spacing: 18.8px;

                a {
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }

        .quick-links, .our-services {

            a {
                display: block;
                text-decoration: none;
                color: #7f7f7f;
                font-size: 16px;
                letter-spacing: 0.4px;
                margin-bottom: 25px;
            }
        }

        .enquiry-form {
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.55px;
            color: #7f7f7f;
            font-family: "Open Sans", sans-serif;

            input, textarea {
                border: none;
                border-bottom: 3px solid #7f7f7f;
                font-family: "Open Sans", sans-serif;
                color: #7f7f7f;
                font-size: 16px;
                letter-spacing: 0.4px;
                background: none;
                margin-bottom: 10px;

                &:focus {
                    outline: none;
                }
            }

            input {
                height: 40px;  
            }

            textarea {
                height: 110px;
                resize: none;
            }

            .is-button {
                margin: 20px 0;

                .is-resize {
                    width: 125px;
                    height: 35px;
                    font-size: 14px;
                }
            }
        }

        .footer-title {
            color: #ffffff;
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.55px;
            margin-bottom: 70px;
            opacity: unset;
        }
    }
}

.copyrights {
    height: 115px;
    text-align: center;
    background-color: #1a1a1a;
    color: #615555;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 115px;
    letter-spacing: 0.33px;
}