@font-face {
    font-family: "Georgia Regular";
    src: url(../fonts/Georgia_Regular.ttf);
}

$majorColor: #81b300;
$grayDark: #333333;
$grayLight: #999999;
$hoverColor: #00acee;
$lightestColor: #ffffff;

$mainFont: "Georgia Regular", sans-serif;