body {
    background-attachment: fixed;
    
    .portfolioItemWrap {
        margin: 0 10px;        
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }
    }

    .portfolioItem {
        border: solid 10px #ffffff;      

        img {
            width: 100%;
            display: block;
            height: 100%;
        }
    }

    .portfolioItemMain {
        grid-column-start: 1;
        grid-column-end: 3;

        @media (max-width: 1000px) {
            grid-column-end: 2;
        }
    }
}