@charset "UTF-8";
/* Элемент соответствует CSS псевдо-классу :valid ; это позволяет вам применить конкретный стиль к валидным элементам. */
/* Элемент соответствует CSS псевдо-классу :invalid, и иногда другим UI псевдо-классам (например, :out-of-range), в зависимости от ошибки; это позволяет вам применить конкретный стиль к невалидным элементам. */
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#808080+0,666666+40,141414+100 */
  background: #808080;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #808080 0%, #666666 40%, #141414 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#141414',GradientType=0 );
  /* IE6-9 */
}

@media (max-width: 510px) {
  body {
    margin: 8px 0;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

.container .contentWrap, .container .benefitWrap {
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  width: 50vw;
  margin: auto;
  border: 3px solid black;
  box-shadow: 10px 10px 10px #545050;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

@media (max-width: 510px) {
  .container .contentWrap, .container .benefitWrap {
    width: 95%;
  }
}

.container .contentWrap .debtWrap, .container .benefitWrap .debtWrap {
  display: grid;
  grid-gap: 5px;
}

.container .contentWrap .offerWrap, .container .benefitWrap .offerWrap {
  display: grid;
  grid-gap: 5px;
}

.container .contentWrap form, .container .benefitWrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .contentWrap form #calcOfferRepeat, .container .benefitWrap form #calcOfferRepeat {
  display: none;
}

.container .contentWrap form .formInner, .container .benefitWrap form .formInner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .container .contentWrap form .formInner, .container .benefitWrap form .formInner {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container .contentWrap form .formInner input, .container .benefitWrap form .formInner input {
  height: 15px;
}

.container .contentWrap form .formInner .debtWrap, .container .benefitWrap form .formInner .debtWrap {
  width: 50%;
}

@media (max-width: 1440px) {
  .container .contentWrap form .formInner .debtWrap, .container .benefitWrap form .formInner .debtWrap {
    width: 90%;
  }
}

.container .contentWrap form .formInner .delimeter, .container .benefitWrap form .formInner .delimeter {
  border: 1px solid #808080;
  margin: 0 15px;
}

@media (max-width: 1440px) {
  .container .contentWrap form .formInner .delimeter, .container .benefitWrap form .formInner .delimeter {
    margin: 15px 0 -5px;
    width: 100%;
  }
}

.container .contentWrap form .formInner .offerWrap, .container .benefitWrap form .formInner .offerWrap {
  width: 50%;
}

@media (max-width: 1440px) {
  .container .contentWrap form .formInner .offerWrap, .container .benefitWrap form .formInner .offerWrap {
    width: 90%;
  }
}

.container .contentWrap .benefitWrap, .container .benefitWrap .benefitWrap {
  width: 500px;
  font-size: 1.5em;
  display: none;
  text-align: center;
}

.container .contentWrap .benefitWrapTitle, .container .benefitWrap .benefitWrapTitle {
  font-size: 1.5em;
}

@media (max-width: 1440px) {
  .container .contentWrap .benefitWrap, .container .benefitWrap .benefitWrap {
    width: 90%;
  }
}

.container .contentWrap h1, .container .contentWrap h2, .container .contentWrap h3, .container .contentWrap .offerTitle, .container .contentWrap .benefitWrap, .container .benefitWrap h1, .container .benefitWrap h2, .container .benefitWrap h3, .container .benefitWrap .offerTitle, .container .benefitWrap .benefitWrap {
  font-weight: 700;
}

.container .contentWrap h1, .container .contentWrap h3, .container .benefitWrap h1, .container .benefitWrap h3 {
  text-transform: uppercase;
}

.container .contentWrap h1, .container .contentWrap h3, .container .benefitWrap h1, .container .benefitWrap h3 {
  text-align: center;
}

.container .contentWrap button, .container .benefitWrap button {
  margin-top: 30px;
  width: 100px;
}
/*# sourceMappingURL=index.css.map */