body {
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 1600px;
  display: grid;
  grid-template-rows: 0 620px 615px 465px 895px 605px 855px 332px 640px 180px;
}
.headerWrap {
  padding: 0 200px 0 200px;
  background: url(../images/world-map.png) no-repeat center, #082938;
  background-blend-mode: color-burn;
}
.headerWrap header {
  position: relative;
}
.headerWrap header nav {
  margin-top: 20px;
}
.headerWrap header nav a {
  text-transform: uppercase;
  text-decoration: none;
}
.headerWrap header nav .brand {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  width: 201px;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 0.24px;
}
.headerWrap header nav .brand span {
  color: #47408d;
  letter-spacing: 0.24px;
}
.headerWrap header nav ul {
  list-style: none;
  justify-content: space-around;
  display: flex;
  width: 543px;
  float: right;
}
.headerWrap header nav ul a {
  padding-top: 28px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.24px;
}
.headerWrap header nav ul a:hover {
  border-top: 7px solid #47408d;
}
.headerWrap header .nameAgency {
  width: 353px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  position: absolute;
  top: 245px;
  text-align: center;
}
.headerWrap header img {
  position: absolute;
  left: 410px;
  top: 130px;
}
.headerWrap header .descriptionAgency {
  position: absolute;
  top: 270px;
  right: 0;
  width: 313px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.42px;
  text-align: justify;
}
.headerWrap header .descriptionAgency a {
  display: block;
  width: 129px;
  height: 36px;
  background-color: #00aeed;
  border-radius: 23px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  margin-top: 39px;
}
.whoWe {
  position: relative;
}
.whoWe .aboutWhoWe {
  width: 560px;
  position: absolute;
  left: 216px;
  top: 120px;
  font-family: 'Lato', sans-serif;
}
.whoWe .aboutWhoWe h1 {
  color: #000000;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}
.whoWe .aboutWhoWe p {
  color: #707070;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.42px;
}
.whoWe .aboutWhoWe a {
  display: block;
  width: 129px;
  height: 36px;
  background-color: #00aeed;
  border-radius: 23px;
  color: #ffffff;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  margin-top: 39px;
}
.whoWe .blueSquare {
  position: absolute;
  top: 120px;
  right: 210px;
  width: 172px;
  height: 145px;
  background-color: #0bb3ce;
}
.whoWe img {
  position: absolute;
  top: 160px;
  right: 160px;
}
.specialist-opinion {
  background: url(../images/Layer_8.jpg) no-repeat center;
  background-color: #088298;
  background-blend-mode: overlay;
  padding: 0 200px 0 200px;
}
.specialist-opinion .is-bias-image {
  top: 66px;
}
.specialist-opinion .is-bias-caption {
  top: 50px;
}
.specialist-opinion .is-position-carousel-indicators {
  top: 417px;
  left: 837px;
}
.specialist-opinion .carousel-indicators li {
  background-color: #ffffff;
  border: none;
}
.specialist-opinion .carousel-indicators .active {
  background-color: #00aeed;
  border: none;
}
.specialist-opinion .carousel-caption-style {
  display: grid;
  grid-template-columns: 117px 400px 117px;
  grid-gap: 30px;
  font-family: 'Lato', sans-serif;
  position: absolute;
  left: 492px;
  top: -25px;
}
.specialist-opinion .carousel-caption-style .carousel-quotes {
  width: 117px;
  height: 86px;
  color: #00aeed;
  font-size: 8.6rem;
  letter-spacing: 1.8px;
}
.specialist-opinion .carousel-caption-style p {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.42px;
  text-align: justify;
}
.specialist-opinion .carousel-caption-style .signature {
  grid-row-start: 2;
  grid-column-start: 2;
}
.specialist-opinion .carousel-caption-style .signature .author {
  display: block;
  font-size: 30px;
  letter-spacing: 0.48px;
}
.specialist-opinion .carousel-caption-style .signature .position {
  font-size: 15px;
  letter-spacing: 0.24px;
}
.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 85px 255px 95px 255px;
  background: url(../images/Layer_11.png) no-repeat center;
  background-color: #00528c;
  background-blend-mode: color-burn;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.42px;
  grid-gap: 15px;
}
.service p {
  text-align: center;
}
.service h2 {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 30px;
}
.service .main-think {
  grid-column-start: 1;
  grid-column-end: 3;
}
.service .main-think .main-title {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  text-align: center;
  margin-bottom: 46px;
}
.service .service-image {
  width: 94px;
  height: 94px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}
.service .one {
  background: url(../images/Service1.png) no-repeat center center;
}
.service .two {
  background: url(../images/Service2.png) no-repeat center center;
}
.service .three {
  background: url(../images/Service3.png) no-repeat center center;
}
.service .four {
  background: url(../images/Service4.png) no-repeat center center;
}
.what-we-do {
  display: grid;
  grid-template-columns: 718px 1fr;
}
.what-we-do .image-what-we-do {
  background: url(../images/28.jpg) no-repeat center;
  background-color: #043740;
  background-blend-mode: overlay;
}
.what-we-do .image-what-we-do .think {
  margin: 162px auto;
  width: 334px;
  height: 254px;
  color: #ffffff;
  font-family: 'Schoolbell', sans-serif;
  text-transform: uppercase;
}
.what-we-do .image-what-we-do .think span:nth-child(1) {
  font-size: 122px;
  letter-spacing: 5.8px;
  line-height: 122px;
}
.what-we-do .image-what-we-do .think span:nth-child(2) {
  font-size: 78px;
  letter-spacing: 3.71px;
  line-height: 77px;
}
.what-we-do .image-what-we-do .think span:nth-child(3) {
  font-size: 41px;
  letter-spacing: 1.95px;
  line-height: 44px;
}
.what-we-do .image-what-we-do .think span:nth-child(4) {
  letter-spacing: 1.43px;
  font-size: 30px;
}
.what-we-do .description {
  height: 600px;
  padding: 55px 85px;
  font-family: 'Lato', sans-serif;
}
.what-we-do .description header {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  color: #000000;
  padding-bottom: 50px;
}
.what-we-do .description h2 {
  color: #151515;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.what-we-do .description p {
  letter-spacing: 0.4px;
  color: #707070;
  font-size: 16px;
  line-height: 24px;
}
.what-we-do .description ul {
  list-style: none;
  padding-left: 0;
}
.what-we-do .description ul li {
  padding-left: 69px;
}
.what-we-do .description ul li:nth-child(1) {
  background: url(../images/Icon1.png) no-repeat;
  padding-bottom: 50px;
}
.what-we-do .description ul li:nth-child(2) {
  background: url(../images/Icon2.png) no-repeat;
  padding-bottom: 50px;
}
.what-we-do .description ul li:nth-child(3) {
  background: url(../images/Icon3.png) no-repeat;
}
