body {
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 1600px;
}
.content {
  display: grid;
  padding: 0 200px 0 200px;
  background: url(../images/world-map.png) no-repeat center, #082938;
}
