body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1600px;
    display: grid;
    grid-template-rows: 0 620px 615px 465px 895px 605px 855px 332px 700px 180px;
}

.is-button {
    display: block;
    width: 129px;
    height: 36px;
    background-color: #00aeed;
    border-radius: 23px;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    margin-top: 39px;

    &:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: darken(#00aeed,20%);
    }

    &:focus {
        text-decoration: none;
        color: #ffffff;
    }
}

.headerWrap {    
    padding: 0 200px 0 200px;
    background: url(../images/world-map.png) no-repeat center, #082938;
    background-blend-mode: color-burn;


    header {
        position: relative;        

        nav {
            margin-top: 20px;

            a {
                text-transform: uppercase;
                text-decoration: none;
            }

            .brand {
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                width: 201px;
                color: #ffffff;
                font-size: 34px;
                letter-spacing: 0.24px;

                span {
                    color: #47408d;
                    letter-spacing: 0.24px;
                }
            }

            ul {
                list-style: none;
                justify-content: space-around;
                display: flex;
                width: 543px;
                float: right;

                a {
                    padding-top: 28px;
                    color: #ffffff;
                    font-family: 'Lato', sans-serif;
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: 0.24px;

                    &:hover {
                        border-top: 7px solid #47408d;
                    }
                }
            }
        }

        .nameAgency {
            width: 353px;
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 72px;
            text-transform: uppercase;
            letter-spacing: 0.24px;
            position: absolute;
            top: 245px;
            text-align: center;
        }

        img {
            position: absolute;
            left: 410px;
            top: 130px;
        }

        .descriptionAgency {
            position: absolute;
            top: 270px;
            right: 0;
            width: 313px;
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-size: 17px;
            line-height: 30px;
            letter-spacing: 0.42px;
            text-align: justify;
        }
    }
}

.whoWe {
    position: relative;

    .aboutWhoWe {
        width: 560px;
        position: absolute;
        left: 216px;
        top: 120px;
        font-family: 'Lato', sans-serif;

        h1 {
            color: #000000;
            font-size: 35px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.55px;
        }

        p {
            color: #707070;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.42px;
        }
    }

    .blueSquare {
        position: absolute;
        top: 120px;
        right: 210px;
        width: 172px;
        height: 145px;
        background-color: #0bb3ce;
    }
    
    img {
        position: absolute;
        top: 160px;
        right: 160px;
    }
}

.specialist-opinion {
    background: url(../images/Layer_8.jpg) no-repeat center;
    background-color: #088298;
    background-blend-mode: overlay;
    padding: 0 200px 0 200px;

    .is-bias-image {
        top: 66px;
    }

    .is-bias-caption {
        top: 50px;
    }

    .is-position-carousel-indicators {
        top: 417px;
        left: 837px;
    }

    .carousel-indicators {

        li {
        background-color: #ffffff;
        border: none;
        }

        .active{
        background-color: #00aeed;
        border: none;
        }
    }

    .carousel-caption-style {
        display: grid;
        grid-template-columns: 117px 400px 117px;
        grid-gap: 30px;
        font-family: 'Lato', sans-serif;
        position: absolute;
        left: 492px;
        top: -25px;
    
        .carousel-quotes {
            width: 117px;
            height: 86px;
            color: #00aeed;
            font-size: 8.6rem;
            letter-spacing: 1.8px;
        }

        p {
            font-size: 17px;
            line-height: 30px;
            letter-spacing: 0.42px;
            text-align: justify;
        }

        .signature {
            grid-row-start: 2; 
            grid-column-start: 2;

            .author {
                display: block;
                font-size: 30px;
                letter-spacing: 0.48px;
            }

            .position {
                font-size: 15px;
                letter-spacing: 0.24px;
            }
        }
    }
}

.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 85px 255px 95px 255px;
    background: url(../images/Layer_11.png) no-repeat center;
    background-color: #00528c;
    background-blend-mode: color-burn;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.42px;
    grid-gap: 15px;
    
    p {
        text-align: center;
    }

    h2 {
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 30px;
    }

    .main-think {
        grid-column-start: 1;
        grid-column-end: 3;

        .main-title {
            font-size: 35px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.55px;
            text-align: center;
            margin-bottom: 46px;
        }
    }

    .service-image {
        width: 94px;
        height: 94px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        margin: 0 auto;
    }

    .one {
        background: url(../images/Service1.png) no-repeat center center;
    }

    .two {
        background: url(../images/Service2.png) no-repeat center center;
    }
        
    .three {
        background: url(../images/Service3.png) no-repeat center center;
    }

    .four {
        background: url(../images/Service4.png) no-repeat center center;
    }
}

.what-we-do {
    display: grid;
    grid-template-columns: 718px 1fr;

    .image-what-we-do {
        background: url(../images/28.jpg) no-repeat center;
        background-color: #043740;
        background-blend-mode: overlay;

        .think {
            margin: 162px auto;
            width: 334px;
            height: 254px;
            color: #ffffff;
            font-family: 'Schoolbell', sans-serif;            
            text-transform: uppercase;            

            span:nth-child(1) {
                font-size: 122px;
                letter-spacing: 5.8px;
                line-height: 122px; 
            }

            span:nth-child(2) {
                font-size: 78px;
                letter-spacing: 3.71px;
                line-height: 77px;
            }

            span:nth-child(3) {
                font-size: 41px;
                letter-spacing: 1.95px;
                line-height: 44px;
            }

            span:nth-child(4) {
                letter-spacing: 1.43px;
                font-size: 30px;
            }
        }
    }

    .description {
        height: 600px;
        padding: 68px 85px;
        font-family: 'Lato', sans-serif;

        header {
            font-size: 35px;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.55px;
            color: #000000;
            padding-bottom: 54px;
        }

        h2 {
            color: #151515;
            font-size: 17px;
            font-weight: 900;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 20px;
        }

        p {
            letter-spacing: 0.4px;
            color: #707070;
            font-size: 16px;
            line-height: 24px;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding-left: 69px;
            }

            li:nth-child(1) {
                background: url(../images/Icon1.png) no-repeat;
                padding-bottom: 54px;
            }

            li:nth-child(2) {
                background: url(../images/Icon2.png) no-repeat;
                padding-bottom: 54px;
            }

            li:nth-child(3) {
                background: url(../images/Icon3.png) no-repeat;
            }
        }
    }
}

.latest-news {
    padding: 0 215px;
    display: grid;
    grid-gap: 65px;
    grid-template-columns: 1fr 1fr;
    font-family: 'Lato', sans-serif;
    
    h1 {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: end;
        justify-self: center;
        color: #000000;
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.55px;
    }    

    .is-right {
        justify-self: end;
    }

    .news-description {
        width: 520px;

        h2 {
            color: #151515;
            font-size: 17px;
            font-weight: 900;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: -90px;
        }

        p{
            color: #707070;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.social {
    background: url(../images/Layer_9.png) no-repeat center;
    background-color: #0094ae;
    background-blend-mode: overlay;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(7,82px);
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
    }
    
    i {
        width: 82px;
        height: 82px;
        color: #ffffff;
        font-size: 36px;
        line-height: 75px;
        border: 3px solid white;
        border-radius: 50%;
        text-align: center;
    }
}

.how-find-us {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 70px 260px 80px 215px;
    font-family: 'Lato', sans-serif;

    .how-find-us-title {
        color: #000000;
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.55px;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        margin-bottom: 85px;
    }

    h2 {
        color: #151515;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.42px;
        margin-bottom: 54px;    
    }

    .contact {
        width: 270px;

        ul {
           list-style: none;
           padding-left: 0;

            li {
                padding-left: 105px;                
                margin-bottom: 54px;
            }

            li:nth-child(1) {
                background: url(../images/Icon4.png) no-repeat;
                background-position-y: bottom;
            }

            li:nth-child(2) {
                background: url(../images/Icon5.png) no-repeat;
                background-position-y: bottom;
            }

            li:nth-child(3) {
                background: url(../images/Icon6.png) no-repeat;
                background-position-y: bottom;
                margin-bottom: 0;
            }
        }

        h3 {
            color: #141414;
            font-size: 17px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.42px;

            span {
                color: #585858;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.4px;
            }
        }
    }

    form {
        justify-self: end;
        width: 540px;
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: 85px;

        h2 {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        label {
            align-self: center;
        }

        input {
            border: none;
            border-bottom: 3px solid #cacaca;
            color: #585858;
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.42px;

            &:focus {
                outline: none;
                border-bottom: 3px solid #029e24;
            }
        }

        a {
            grid-column-start: 2;
        }
    }
}

footer {
    background-color: #062736;
    display: grid;
    justify-items: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.42px;
    align-items: center;
    padding: 20px 0 20px 0;
    
    span {

        &:last-child {
            text-transform: uppercase;
        }
    }
}