@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans:400,700&display=swap");
@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/Nexa_Bold.otf);
}

.container {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  margin: 0;
}

.header-inside .logo-and-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 35px 0;
  grid-gap: 20px;
}

@media (max-width: 479px) {
  .header-inside .logo-and-contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-inside .logo-and-contact {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-inside .logo-and-contact {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1440px) {
  .header-inside .logo-and-contact .logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
  }
}

.header-inside .logo-and-contact .top-line {
  font-weight: 700;
}

.header-inside .logo-and-contact .contactUnitWrap {
  min-height: 51px;
  padding-left: 70px;
  color: #6a6a6a;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.header-inside .logo-and-contact .work-time {
  background: url(../images/clock.png) no-repeat left;
}

.header-inside .logo-and-contact .mail {
  background: url(../images/mail.png) no-repeat left;
}

.header-inside .logo-and-contact .phone {
  background: url(../images/phone.png) no-repeat left;
}

.header-inside .nav-and-social {
  height: 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-top: 2px solid #c2c2c2;
  margin: 0 10px;
  padding: 30px 0;
}

@media (max-width: 479px) {
  .header-inside .nav-and-social {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-inside .nav-and-social {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-inside .nav-and-social {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header-inside .nav-and-social a {
  text-decoration: none;
}

.header-inside .nav-and-social .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 479px) {
  .header-inside .nav-and-social .main-nav {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-inside .nav-and-social .main-nav {
    display: block;
  }
}

.header-inside .nav-and-social .main-nav a {
  color: #6c6c6c;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
}

@media (max-width: 479px) {
  .header-inside .nav-and-social .main-nav a {
    display: block;
    margin-bottom: 20px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-inside .nav-and-social .main-nav a {
    display: block;
    margin-bottom: 20px;
  }
}

.header-inside .nav-and-social .main-nav a:hover {
  color: #262626;
}

.header-inside .nav-and-social .social {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  height: 90px;
}

@media (max-width: 479px) {
  .header-inside .nav-and-social .social {
    -ms-grid-column-align: normal;
        justify-self: normal;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-inside .nav-and-social .social {
    -ms-grid-column-align: normal;
        justify-self: normal;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-inside .nav-and-social .social {
    margin-top: 20px;
    -ms-grid-column-align: normal;
        justify-self: normal;
  }
}

.header-inside .nav-and-social .social a {
  color: #191919;
  font-size: 23px;
  letter-spacing: 23px;
}

.header-inside .nav-and-social .social a:hover {
  color: #6c6c6c;
}
/*# sourceMappingURL=style.css.map */