@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans:400,700&display=swap");
@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/Nexa_Bold.otf);
}

.container {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.is-button {
  display: block;
  width: 166px;
  height: 47px;
  -webkit-box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
          box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  text-decoration: none;
  line-height: 47px;
  text-align: center;
  border-radius: 25px;
  margin: 42px auto 0;
}

.is-button:hover {
  background-color: #37c3a8;
}

body {
  margin: 0;
}

.header-inside .logo-and-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 35px 0;
  grid-gap: 20px;
}

@media (max-width: 479px) {
  .header-inside .logo-and-contact {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header-inside .logo-and-contact {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-inside .logo-and-contact {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1440px) {
  .header-inside .logo-and-contact .logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
  }
}

.header-inside .logo-and-contact .top-line {
  font-weight: 700;
}

.header-inside .logo-and-contact .contactUnitWrap {
  min-height: 51px;
  padding-left: 70px;
  color: #6a6a6a;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.header-inside .logo-and-contact .work-time {
  background: url(../images/clock.png) no-repeat left;
}

.header-inside .logo-and-contact .mail {
  background: url(../images/mail.png) no-repeat left;
}

.header-inside .logo-and-contact .phone {
  background: url(../images/phone.png) no-repeat left;
}

.header-inside .nav-and-social {
  min-height: 36px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-top: 2px solid #c2c2c2;
  margin: 0 10px;
  padding: 30px 0;
}

@media (max-width: 991px) {
  .header-inside .nav-and-social {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header-inside .nav-and-social a {
  text-decoration: none;
}

.header-inside .nav-and-social .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header-inside .nav-and-social .main-nav {
    display: block;
  }
}

.header-inside .nav-and-social .main-nav a {
  color: #6c6c6c;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
}

@media (max-width: 767px) {
  .header-inside .nav-and-social .main-nav a {
    display: block;
    margin-bottom: 20px;
  }
}

.header-inside .nav-and-social .main-nav a:hover {
  color: #262626;
}

.header-inside .nav-and-social .social {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width: 991px) {
  .header-inside .nav-and-social .social {
    -ms-grid-column-align: normal;
        justify-self: normal;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-inside .nav-and-social .social {
    margin-top: 20px;
  }
}

.header-inside .nav-and-social .social a {
  color: #191919;
  font-size: 23px;
  letter-spacing: 23px;
}

.header-inside .nav-and-social .social a:hover {
  color: #6c6c6c;
}

.medicare-plan-options {
  height: 640px;
  background: url(../images/Layer_10_doctor.jpg) center;
  background-size: cover;
}

.medicare-plan-options .medicare-plan-options-wrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.medicare-plan-options .medicare-plan-options-wrap .medicare-plan-options_title {
  color: #474747;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -1.19px;
  text-align: center;
  margin-bottom: 37px;
}

.medicare-plan-options .medicare-plan-options-wrap .medicare-plan-options_main {
  color: #3f3f3f;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
}

.benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .benefits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .benefits {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .benefits {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.benefits .benefits-unit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 75px 62px 57px;
  text-align: center;
}

.benefits .benefits-unit:nth-child(1) {
  background-color: #43b1d2;
}

.benefits .benefits-unit:nth-child(2) {
  background-color: #3fb6c6;
}

.benefits .benefits-unit:nth-child(3) {
  background-color: #3cbbbb;
}

.benefits .benefits-unit:nth-child(4) {
  background-color: #37c3a8;
}

.benefits .benefits-description-wrap {
  color: #fff;
}

.benefits .benefits-description-wrap .benefits-title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.82px;
  margin: 24px 0 23px;
}

.benefits .benefits-description-wrap .benefits-main {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
/*# sourceMappingURL=style.css.map */