.our-team {
  box-sizing: border-box;
  height: 920px;
  text-align: center;
  padding: 145px 185px;
}
.our-team .our-team-description {
  color: #6a6a6a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 85px;
}
.our-team .our-team-description .our-team-title {
  color: #494949;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 50px;
}
.our-team .our-team-unit-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.our-team .our-team-unit-wrap .our-team-unit {
  color: #6f6f6e;
  font-family: 'Montserrat', sans-serif;
}
.our-team .our-team-unit-wrap .our-team-unit .doctor-name {
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0 15px;
}
.our-team .our-team-unit-wrap .our-team-unit .doctor-function {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1.09px;
  margin-bottom: 30px;
}
.our-team .our-team-unit-wrap .our-team-unit a {
  text-decoration: none;
  color: #0087be;
  font-size: 25px;
  letter-spacing: 12.8px;
}
.new-patient {
  height: 175px;
  background-color: #e2e2e2;
  display: grid;
  grid-template-columns: 925px 1fr;
  align-items: center;
  padding-left: 270px;
  padding-right: 230px;
}
.new-patient .new-patient-text {
  color: #494949;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.new-patient .is-button {
  justify-content: right;
  margin: 0;
}
.new-patient .is-resize {
  width: 192px;
  height: 54px;
  font-size: 21px;
}
footer {
  background-color: #171717;
  height: 630px;
  padding: 115px 225px;
  box-sizing: border-box;
}
footer .footer-inside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  font-family: "Open Sans", sans-serif;
}
footer .footer-inside a .fas {
  margin-right: 20px;
  color: #0087be;
  font-size: 16px;
}
footer .footer-inside .get-in-touch {
  color: #7f7f7f;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}
footer .footer-inside .get-in-touch div:nth-child(2) {
  background: url(../images/footer_mail.png) no-repeat left;
  padding-left: 83px;
  margin-bottom: 50px;
}
footer .footer-inside .get-in-touch div:nth-child(3) {
  background: url(../images/footer_phone.png) no-repeat left;
  padding-left: 83px;
  margin-bottom: 50px;
}
footer .footer-inside .get-in-touch div:nth-child(4) {
  background: url(../images/footer_geo.png) no-repeat left;
  padding-left: 83px;
  margin-bottom: 50px;
}
footer .footer-inside .get-in-touch .footer-social {
  font-size: 25px;
  letter-spacing: 18.8px;
}
footer .footer-inside .get-in-touch .footer-social a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-inside .quick-links a,
footer .footer-inside .our-services a {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}
footer .footer-inside .enquiry-form {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.55px;
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
}
footer .footer-inside .enquiry-form input,
footer .footer-inside .enquiry-form textarea {
  border: none;
  border-bottom: 3px solid #7f7f7f;
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 16px;
  letter-spacing: 0.4px;
  background: none;
  margin-bottom: 10px;
}
footer .footer-inside .enquiry-form input:focus,
footer .footer-inside .enquiry-form textarea:focus {
  outline: none;
}
footer .footer-inside .enquiry-form input {
  height: 40px;
}
footer .footer-inside .enquiry-form textarea {
  height: 110px;
  resize: none;
}
footer .footer-inside .enquiry-form .is-button {
  margin: 20px 0;
}
footer .footer-inside .enquiry-form .is-button .is-resize {
  width: 125px;
  height: 35px;
  font-size: 14px;
}
footer .footer-inside .footer-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.55px;
  margin-bottom: 70px;
  opacity: unset;
}
.copyrights {
  height: 115px;
  text-align: center;
  background-color: #1a1a1a;
  color: #615555;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 115px;
  letter-spacing: 0.33px;
}
