.b-basket {
    background: url(../images/basket.png) no-repeat left;        
    height: 37px;    
    padding-left: 50px;
    font-size: 33px;
    font-family: $titleFont;
    color: $gray;
    line-height: 37px;

    &_topMargin {

        @media (max-width: 767.98px) {
            margin-top: 10px;
        }
    }
}