.b-brandName {
    font-size: 27px;
    font-family: $titleFont;
    color: $gray;
    line-height: 0.926;   

    &_marginBottom20 {
        margin-bottom: 20px;
    }

    &_margin12 {
        margin-bottom: 12px;
        margin-top: 12px;
    }
}