.b-brandNav {
    min-height: 190px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;

    @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 340px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 1200px) {           
            justify-content: space-between;
        }

        &_border {
            border-left: 1px solid $lightGray;
            border-right: 1px solid $lightGray;
        }
    }

    &__img {
        height: 151px;
    }

    &__wrapText {
        padding: 50px 0;
        width: 80px;
    }
}  