.b-footer {
    min-height: 340px;
    background: $mainBackColor;
    display: flex;
    justify-content: space-between;
    padding: 40px 186px;
    flex-wrap: wrap;

    @media (max-width: 767.98px) {
        padding: 40px;
        align-content: center;
        flex-direction: column;
    }

    @media (min-width: 768px) and (max-width: 1199.98px) {
        padding: 40px;
    }

    &__item {

    }

    &__title {
        font-size: 27px;
        font-family: $titleFont;
        color: $textColor;
        line-height: 0.926;
        margin-bottom: 20px;

        @media (max-width: 991.98px) {
            margin-top: 20px;
        }
    }

    &__link {
        display: block;
        font-size: 15px;
        font-family: $mainFont;
        color: $textColor;
        line-height: 1.867;
        
        &:hover {
            text-decoration: none;
            color: $gray;
        }
    } 
}