.b-shopBtn {
    display: inline-block;
    text-transform: uppercase;
    color: $textColor;
    font-family: $titleFont;
    font-size: 19px;
    line-height: 1;
    background: $buttonAndLogoColor;
    padding: 9px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    transition-duration: 0.5s;

    &:hover {
        color: $buttonAndLogoColor;
        background: $textColor;
        text-decoration: none;
    }
}